.container {
  font-family: 'PT Serif', serif;
  background-color: #F5F5F1; }

header {
  border-bottom: 1px solid #E1E3DF;
  height: 60px;
  margin-top: 15px;
  background-color: white; }
  header .logo {
    color: #F56400;
    font-size: 35px;
    margin-left: 90px;
    padding-right: 40px; }
  header .search-area {
    display: inline-block;
    padding: 4px;
    height: 24px; }
  header .search-btn {
    background-color: #34A8C4;
    color: white;
    display: inline-block;
    border: 1px solid #E1E3DF;
    border-radius: 5px;
    padding: 5px; }
  header .right-side {
    display: inline-block;
    margin-left: 485px;
    border-right: 1px solid #E1E3DF;
    color: #0092B5; }
    header .right-side .sell {
      padding: 5px; }
    header .right-side button {
      background-color: white;
      color: #0092B5;
      border: 1px solid #0092B5;
      border-radius: 5px;
      padding: 5px;
      margin-right: 25px; }
  header .cart {
    float: right;
    margin-right: 30px;
    color: #888888; }
    header .cart img {
      display: block; }

.nav-menu {
  border-bottom: 1px solid #E1E3DF;
  background-color: white; }
  .nav-menu nav ul {
    display: inline-block; }
  .nav-menu li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    padding: 7px;
    font-size: 14px; }

.show-results {
  background-color: #F5F5F1;
  padding: 20px; }
  .show-results .show {
    margin-left: 68px; }
  .show-results .all-cats {
    margin-left: 125px; }
  .show-results .sort {
    float: right; }

.categories {
  border: 1px solid #E1E3DF;
  border-radius: 3px;
  width: 220px;
  margin: 10px 85px;
  padding: 5px;
  background-color: white; }
  .categories span {
    font-weight: bold;
    font-size: 16px; }
  .categories ul li {
    list-style: none;
    padding: 2px;
    color: #0092B5;
    font-size: 14px; }

.refine-results {
  border: 1px solid #E1E3DF;
  border-radius: 3px;
  width: 220px;
  margin: 10px 85px;
  padding: 5px;
  background-color: white; }
  .refine-results .item-type ul {
    padding-left: 0; }
  .refine-results .item-type li {
    list-style: none; }
  .refine-results .color-filter ul {
    padding-left: 0; }
  .refine-results .color-filter li {
    width: 22px;
    height: 22px;
    border: 1px solid #E1E3DF;
    border-radius: 2px;
    list-style: none;
    display: inline-block; }
  .refine-results .red {
    background-color: #F40932; }
  .refine-results .orange {
    background-color: #FF7F00; }
  .refine-results .yellow {
    background-color: #F3CC09; }
  .refine-results .green {
    background-color: #08C209; }
  .refine-results .blue {
    background-color: #0ACCF3; }
  .refine-results .purple {
    background-color: #A700F7; }
  .refine-results .black {
    background-color: black; }
  .refine-results .white {
    background-color: white; }
