$borderColor: #E1E3DF;
$blueText: #0092B5;
$grayBackground: #F5F5F1;

.container {
  font-family: 'PT Serif', serif;
  background-color: $grayBackground;
  // margin: 0 auto;
  // width: 1000px;
}

// Header Styles

header {
  border-bottom: 1px solid $borderColor;
  height: 60px;
  margin-top: 15px;
  background-color: white;

  .logo {
    color: #F56400;
    font-size: 35px;
    margin-left: 90px;
    padding-right: 40px;
  }

  .search-area {
    display: inline-block;
    padding: 4px;
    height: 24px;
  }

  .search-btn {
    background-color: #34A8C4;
    color: white;
    display: inline-block;
    border: 1px solid $borderColor;
    border-radius: 5px;
    padding: 5px;
  }

  .right-side {
    display: inline-block;
    margin-left: 485px;
    border-right: 1px solid $borderColor;
    color: $blueText;

    .sell {
      padding: 5px;
    }

    button {
      background-color: white;
      color: $blueText;
      border: 1px solid $blueText;
      border-radius: 5px;
      padding: 5px;
      margin-right: 25px;
    }
  }

  .cart {
    float: right;
    margin-right: 30px;
    color: #888888;

    img {
      display: block;
    }

  }

} 

// Nav Menu

.nav-menu {
  border-bottom: 1px solid $borderColor;
  background-color: white;

  nav ul {
    display: inline-block;
  }

  li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    padding: 7px;
    font-size: 14px; 
  }
}

// Section before results start

.show-results {
  background-color: $grayBackground;
  padding: 20px;

  .show {
    margin-left: 68px;
  }

  .all-cats {
    margin-left: 125px;
  }

  .sort {
    float: right;
  }
}

// Category list

.categories {
  border: 1px solid $borderColor;
  border-radius: 3px;
  width: 220px;
  margin: 10px 85px;
  padding: 5px;
  background-color: white;

  span {
    font-weight: bold;
    font-size: 16px;
  }

  ul li {
    list-style: none;
    padding: 2px;
    color: $blueText;
    font-size: 14px;
  }
}

// Refine Results Box

.refine-results {
  border: 1px solid $borderColor;
  border-radius: 3px;
  width: 220px;
  margin: 10px 85px;
  padding: 5px;
  background-color: white;

  .item-type li {
    list-style: none;
    margin: 0;
  }

}















